.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.layout-sider {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 999;
}
.header_layout {
  background-color: white;
  padding: 0px;
}
.content_layout {
  margin: 24px 16px;
  padding: 24px;
  background-color: white;
  min-height: 280px;
}